* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: "Open Sans",sans-serif;
}

body {
    background-color: #181818;
    color: #d7d7d7;
}

a {
    color: #2e7ad6;
}

a:visited {
    color: #b670d6;
}

.noscriptmsg {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #1f1f1f;
}

#pagecontent {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #1f1f1f;
    padding-top: 5px;
}
.center-text {
    text-align: center;
    width: 100%;
    display: block;
}
.center-box {
    width: 100%;
    display: grid;
}
#pagecontent-logo {
    justify-self: center;
    width: 256px;
}

.button {
    margin: 2px;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    background-color: #2a2a2a;
    color: #d7d7d7;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
}

.hr {
    border-top: 2px solid #9a9a9a; 
}

.hr-darkend {
    border-color: #444444;
}

.hr-bpadded {
    margin-bottom: 20px;
}

.button:visited {
    color: #d7d7d7;
}
.button:hover {
    background-color: #37373d;
}

.os-down {
    background-color: #286c34;
}
.os-down:hover {
    background-color: #318340;
}

.legacy-link {
    color: #787878;
    text-decoration: none;
    margin: 4px;
    white-space: nowrap;
}
.legacy-link:visited {
    color: #787878;
}
.legacy-link:hover {
    text-decoration: underline;
}

.big-size {
    padding: 6px;
    padding-left: 7px;
    padding-right: 7px;
}

.ui-btn {
    background-color: #2a559a;
}

.btn-bellow-margin {
    margin-bottom: 7px;
}

.section {
    padding-bottom: 20px;
}

.sideflex {
    display: flex;
    flex-direction: row;
}

.title img {
    height: 42px;
    width: 42px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.title h1 {
    margin-top: 5px
}

.subtitle {
    padding-bottom: 7px;
}

.subtitle-top-margin {
    margin-top: 5px;
}

.section h3 {
    color: #d1984e;
}

.section p {
    font-size: 18.5px;
}

.modpack-down {
    background-color: #272727;
    border-radius: 10px;
    border: 1px solid #303030;
    padding: 5px;
    margin-bottom: 15px;
}
.modpack-down b {
    color: #c8c8c8;
    margin-bottom: 3px;
}
.modpack-down p {
    margin-bottom: 6px;
}

#down-installer p {
    margin-bottom: 5px;
}

#down-modpack p {
    margin-bottom: 3px;
}

.min-spacer {
    margin-top: 7px;
}
.min-spacer2 {
    margin-top: 14px;
}
.min-spacer3 {
    margin-top: 4px;
}

.inline {
    display: inline;
}

.modpack-author {
    color: gray;
}

.modpack-info p {
    font-size: 17px;
}

.modpack-id {
    color: #373737;
    margin-left: 12px;
    font-size: 12px;
}

.smal-text {
    font-size: 12px;
    color: #303030;
}

.source-link {
    font-size: 12px;
    color: #303030;
}
.source-link:active {
    color: #303030;
}
.source-link:visited {
    color: #303030;
}
.source-link:hover {
    color: #717171;
}

#source-link-prefix {
    display: inline-block;
    padding-right: 5px;
}

#content {
    white-space: pre-wrap;
}

.download-info {
    width:fit-content;
    padding-left: 50px;
    padding-right: 50px;
}

.download-info h2 {
    font-size: 45px;
    padding-left: 5px;
}
.download-info i {
    font-size: 19px;
}
.download-info .center-box {
    margin-top: 30px;
}
.center-container {
    width: 100%;
    display: flex;
    justify-content: center;
}